<% provide(:title, "Search results") %>
	
<h1>Search results</h1>
<% if @users.any? %>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<% else %>

<ul class="users" id="no-results">
	<li>Sorry, we couldn't find any results for this search.</li>
</ul>

<% end %>

