
	<%= form_tag search_users_path, method: "get", class: "navbar-search" do %>
	<div class="input-append">
	<%= text_field_tag :search, params[:search], class: "span2", id: 'appendedInputButton', placeholder: "Find a user..." %>
	<%= submit_tag "Search", name: nil, class: "btn" %>
</div>
	<% end %>
